#nihao{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 10em;
}

#content{
    margin: auto;
    width: 80%;
    /*border: 3px solid green;*/
    padding: 10px;
}

h2{
    margin-top: 50px;
    margin-bottom: 50px;
}

audio{
    width: 150px;
    height: 30px;
}

td{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }